* {
  font-family: 'Open Sans';
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
  outline: 0;
}
::-moz-selection {
  background: rgba(0, 0, 0, 0);
  /* WebKit/Blink Browsers */
}
::selection {
  background: rgba(0, 0, 0, 0);
  /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(0, 0, 0, 0);
  /* Gecko Browsers */
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.hide {
  display: none
}
.visible-block {
  display: block;
}
.desc {
  font-size: 1.5rem;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: all .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.btn-lg {
  padding: 10px 16px;
  font-size: 20px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-outline {
  color: #00c5ff;
  background-image: cubic-bezier(0.785, 0.135, 0.15, 0.86)-gradient(90deg, #00c5ff 0%, transparent 0%);
  border-color: #00c5ff;
}
.btn-outline:hover {
  color: #fff;
  background-color: #00c5ff;
}
.map {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #101010!important;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
}
.gm-style {
  background: #101010!important;
}
#update {
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 5;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.key {
  /* background: rgba(25, 25, 25, 0.8); */

  max-height: 480px;
  width: 150px;
  border-radius: 5px;
  z-index: 1000;
  overflow-y: scroll;
  margin-left: 10px;
  position: absolute;
  top: 50%!important;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.toggle {
  display: block;
  font-size: 1rem;
  padding: 4px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  /*background: #00d55a;*/

  height: 30px;
  border: transparent solid 2px;
  border-top-width: 0;
  border-bottom-width: 0;
  -webkit-transition: all .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.toggle:first-child {
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-width: 2px!important;
}
.toggle:last-child {
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-width: 2px!important;
}
.toggle.off {
  background: transparent!important;
}
.dateSliderContainer {
  width: 400px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  top: 2rem!important;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  left: 50%!important;
}
.dateSlider {
  margin-left: 5px;
  width: 370px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none!important;
  border-radius: 1rem;
}
.dateSlider::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none!important;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  top: -0.25rem;
}
#dateSliderFrom::-webkit-slider-thumb:before {
  content: "F";
  left: 0.3rem;
  position: relative;
  bottom: 0.125em;
  font-weight: bold;
  color: #fff;
  font-size: 0.75rem;
}
#dateSliderFrom::-webkit-slider-thumb {
  background: #FD4141;
}
#dateSliderTo::-webkit-slider-thumb:before {
  content: "T";
  left: 0.28rem;
  position: relative;
  bottom: 0.125em;
  font-weight: bold;
  color: #fff;
  font-size: 0.75rem;
}
#dateSliderTo::-webkit-slider-thumb {
  background: #FFB400;
}
.dateSlider::-webkit-slider-runnable-track {
  -webkit-appearance: none!important;
  background: #fff;
  height: 0.5rem;
  border-radius: 1rem;
}
.dateSliderHud {
  color: rgba(255, 255, 255, 0.8);
}
.dateSliderHudText {
  display: inline-block;
}
.dateSliderHud b {
  font-size: 1.35rem;
}
.dateSliderHudText#textFrom {
  position: absolute;
  top: -2rem;
  left: -70px;
}
.dateSliderHudText#textTo {
  position: absolute;
  top: 0.25rem;
  left: 254px;
}
.standaloneToggle {
  color: #fff;
  margin-top: -1em;
  margin-right: 1.5em;
  display: block;
  background: transparent;
  padding: 1em;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.25em;
  border: #fff solid 2px;
  -webkit-transition: all .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.standaloneToggle:hover {
  background: #fff!important;
  color: #101010!important;
}
#placeToggle.on:after {
  content: " On";
}
#placeToggle.on:hover:after {
  content: " Off";
}
#placeToggle.off:after {
  content: " Off";
}
#placeToggle.off:hover:after {
  content: " On";
}


/* Button container */
.progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 15%;
  height: 4rem;
}

/* Button style */
.progress-button button {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #00c5ff;
  border-radius: 5px;
  background: transparent;
  color: #00c5ff;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.progress-button button:hover {
  background-color: #00c5ff;
  color: #fff;
}

.progress-button button:focus {
  outline: none;
}

/* Text (transition for when returning to initial state) */
.progress-button button span {
  -webkit-transition: opacity 0.3s 0.1s;
  transition: opacity 0.3s 0.1s;
}

/* Common style of SVGs */
.progress-button svg {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}

.progress-button svg path {
  opacity: 0;
  fill: none;
}

.progress-button svg.progress-circle path {
  stroke: #00c5ff;
  stroke-width: 5;
}

.progress-button svg.checkmark path,
.progress-button svg.cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

/* Loading, success and error effects */
.loading.progress-button button {
  width: 70px; /* make a circle */
  border-width: 5px;
  border-color: #fff;
  background-color: transparent;
  color: #fff;
  border-radius: 50%;
  height: 70px;
}

.loading.progress-button span {
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.loading.progress-button span,
.success.progress-button span,
.error.progress-button span {
  opacity: 0; /* keep it hidden in all states */
}

.success.progress-button button,
.error.progress-button button {
  -webkit-transition: background-color 0.3s, width 0.3s, border-width 0.3s;
  transition: background-color 0.3s, width 0.3s, border-width 0.3s;
}

.success.progress-button button {
  border-color: #00c5ff;
  background-color: #00c5ff;
}

.error.progress-button button {
  border-color: #FB797E;
  background-color: #FB797E;
}

.loading.progress-button svg.progress-circle path,
.success.progress-button svg.checkmark path,
.error.progress-button svg.cross path {
  opacity: 1;
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
}

/* Optional elastic effect for the width of the button */
.elastic.progress-button button {
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1), border-width 0.3s, border-color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.25, 0.25, 0.4, 1.6), border-width 0.3s, border-color 0.3s;
}

.loading.elastic.progress-button button {
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, 0, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s cubic-bezier(0.6, -0.6, 0.75, 0.75), border-width 0.3s, border-color 0.3s;
}
